.footer{
    background-color: var(--color-footer);
}
.foot-elem{
    padding: 5rem 3rem;
}
.foot-elem h1{
    color : orangered;
    text-align: center;
    line-height: 2;
}

.foot-links{
    display: flex;
    justify-content: space-between;
    text-align: start;
    line-height: 2;
    margin-top: 10px;
    padding: 1rem 4rem;
    cursor: pointer;
    color: var(--color-text);
}

.foot-links h1{
    color : gold
}

@media only screen and (max-width: 760px){
    .foot-elem h1{
        color : orangered;
        text-align: center;
        line-height: 1.5;
        font-size: 25px;
    }
    .foot-links h1{
        color : gold
    }
    .foot-links{
        padding-left: 0;
        margin-top: 20px;
        display: flex;
       flex-direction: column;
       line-height: 2;
    }
    .foot-links h1{
        text-align: start;
    }
    .link-one, .link-two{
        margin-top: 30px;
    }
}